<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{pages/mainscreen :: head(title='PNP: Add Inhouse Part')}">
</head>

<body>
<div th:replace="~{pages/mainscreen :: header(currentPage='parts')}"></div>

<main class="container">

    <h2>Inhouse Part Detail</h2>
    <form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST" }>

        <!-- Add hidden form field to handle update -->
        <p><input type="hidden" th:field="*{id}"/></p>

        <label for="part-name" class="form-label">Part Name</label>
        <input id="part-name" type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/>

        <label for="part-price" class="form-label">Price</label>
        <input id="part-price" type="text" path="price" th:field="*{price}" placeholder="Price"
               class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

        <label for="part-inventory" class="form-label">Inventory</label>
        <input id="part-inventory" type="text" path="inv" th:field="*{inv}" placeholder="Inventory"
               class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

        <label for="part-id" class="form-label">Part ID</label>
        <input id="part-id" type="text" th:field="*{partId}" placeholder="Part ID" class="form-control mb-4 col-4"/>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <p>
        <errors path="price" cssClass="" error/>
    <p>

</main>
</body>
</html>
