<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{pages/home :: head(title='PNP: Add OutsourcedPart')}">
</head>

<body>
<div th:replace="~{pages/home :: header(currentPage='parts')}"></div>

<main class="container">
    <h2>Outsourced Part Detail</h2>
    <form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST" }>

        <!-- Add hidden form field to handle update -->
        <p><input type="hidden" th:field="*{id}"/></p>

        <label for="part-name" class="form-label">Part Name</label>
        <input id="part-name" type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/>

        <label for="part-price">Price</label>
        <input id="part-price" type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

        <label for="part-inventory">Inventory</label>
        <input id="part-inventory" type="text" th:field="*{inv}" placeholder="Inventory"
               class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

        <label for="min-part-inventory" class="form-label">Minimum Inventory</label>
        <input id="min-part-inventory" type="text" path="minInv" th:field="*{minInv}" placeholder="0"
               class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}">Minimum Inventory Error</p>

        <label for="max-part-inventory" class="form-label">Maximum Inventory</label>
        <input id="max-part-inventory" type="text" path="maxInv" th:field="*{maxInv}" placeholder="0"
               class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}">Maximum Inventory Error</p>

        <label for="company-name">Company Name</label>
        <input id="company-name" type="text" th:field="*{companyName}" placeholder="Company Name" class="form-control mb-4 col-4"/>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</main>
</body>
</html>