<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{pages/home :: head(title='About PNP')}">
</head>

<body>
<div th:replace="~{pages/home :: header(currentPage='about')}"></div>
<main class="container text-center">

    <h2>About PNP</h2>
    <img class="hero m-3 p-3" th:src="@{/images/about.jpg}" alt="man wearing mask repair cpu">
    <p class="fs-4 m-3 p-3 primary-text-color">
        Welcome fellow Gamer, Tinkerer, and Hobbyist!
    </p>
    <p class="fs-5 m-3 p-3">
        We at PNP have all your pc needs covered! Whether you want to custom build your perfect gaming desktop, upgrade
        a specific part, or you're looking for a prebuilt solution, we know we will have something for you!
    </p>
</main>
<hr>
<footer class="container my-3 py-3">
    <h6 class="primary-text-color my-3 py3">Attribution</h6>
    <p>Elias Gamez. (2021). <i>a-man-wearing-a-face-mask-repairing-a-cpu[Digital Image].</i>Pexels.com.
        <a target="_blank" href="https://www.pexels.com/photo/a-man-wearing-a-face-mask-repairing-a-cpu-10558599/">
            https://www.pexels.com/photo/a-man-wearing-a-face-mask-repairing-a-cpu-10558599/
        </a>
    </p>
</footer>
</body>
</html>