<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="${title}?:'PNP PC\'s'"></title>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="#" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="header" class="container">
    <header class="d-flex justify-content-between my-3 py-3">
        <div>
            <h1 class="h1">
                <a href="#" th:href="@{/}" class="primary-text-color">Plug <span class="secondary-color">N</span> Play PC's
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="bi bi-tools secondary-color"
                         viewBox="0 0 16 16">
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                    </svg>
                </a>
            </h1>
        </div>

        <div>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav fs-4">
                    <li class="nav-item">
                        <a th:classappend="${currentPage == 'parts'}? 'active'" class="nav-link" href="#"
                           th:href="@{/parts}">Parts</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${currentPage == 'products'}? 'active'" class="nav-link " href="#"
                           th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${currentPage == 'about'}? 'active'" class="nav-link " href="#"
                           th:href="@{/About}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${currentPage == null}? 'active'" class="nav-link" href="#" th:href="@{/}">Home</a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
    <hr>
</div>

<main class="container text-center text-xxl-start">
    <section class="my-3 py-3">
        <h2>PRODUCTS</h2>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="text-center m-3 p-3 card" th:each="prod :${products}">
                <img class="img-fluid" th:src="@{/images/{prod}.jpg(prod=${prod.toLowerCase().replaceAll('\s','')})}"
                     th:alt="${prod}">
                <a class="m-3 p-3 fs-4" th:text="${prod + 's'}" th:href="@{/products}"></a>
            </div>
        </div>
    </section>
    <section class="my-3 py-3">
        <h2>PARTS</h2>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="text-center m-3 p-3 card" th:each="part :${parts}">
                <img class="img-fluid" th:src="@{/images/{part}.jpg(part=${part.toLowerCase().replaceAll('\s','')})}"
                     th:alt="${part}">
                <a class="m-3 p-3 fs-4" th:text="${part}" th:href="@{/parts}"></a>
            </div>
        </div>
    </section>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>


<!--Photo by IT services  EU: https://www.pexels.com/photo/memory-cards-on-a-white-surface-7594824/-->
<!--Photo by Andrey Matveev: https://www.pexels.com/photo/geforce-rtx-graphics-cards-18338417/-->
<!--Photo by William Warby: https://www.pexels.com/photo/opened-hdd-on-white-background-19658260/-->
<!--Photo by Andrey Matveev: https://www.pexels.com/photo/black-and-white-computer-cooling-fan-on-yellow-background-28973398/-->
<!--Photo by Dušan Cvetanović: https://www.pexels.com/photo/close-up-shot-of-a-microphone-12541646/-->
<!--Photo by Pixabay: https://www.pexels.com/photo/razer-white-and-black-corded-headphones-159472/-->
<!--Photo by Jakub Zerdzicki: https://www.pexels.com/photo/smart-home-security-camera-24347621/-->
<!--Photo by Andrey Matveev: https://www.pexels.com/photo/the-asus-z370-a-motherboard-with-a-cpu-and-ram-27598325/-->

