/* ---------Colors -------------------------------------*/
:root {
    --primary-color: #6E8898;
    --primary-text-color: #328070;
    --secondary-color: #E2C044;
    --error-text-color: #ab0f0f;
    --secondary-text-color: #e06404;
    --dark-color: #2e5266;
}


/* --------- -------------------------------------*/


svg {
    width: 100%;
    height: 100%;
    max-width: 75px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: var(--secondary-text-color);
    margin: 10px 0;
    padding: 10px 0;
}

section a {
    display: block;
    color: var(--primary-text-color);
}

.hero {
    max-width: 100%;

}

footer {
    color: var(--dark-color);
    font-size: .8rem;
}

.error {
    color: var(--error-text-color);
    font-weight:bold;
}

/* ____BS Styles-------------------------------------*/
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-text-color {
    color: var(--primary-text-color);
}

.nav-link, .nav-item {
    color: var(--dark-color);
}

.active {
    color: var(--secondary-color) !important;
    text-decoration: underline;
    font-weight: 600;
}

.btn {
    background-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--secondary-color);
}

.img-fluid {
    max-width: 300px;
    border-bottom: 3px solid var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

.card {
    border-color: var(--primary-color);
}

